[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
joblib = "*"
fluent-logger = "*"
clickhouse-connect = "==0.7.12"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
